{% for message in messages %}
{% if loop.first and message.role == 'system' %}
<s>[INST] {{ message.content }} [/INST]
{% elif message.role == 'user' %}
<s>[INST] {{ message.content }} [/INST]
{% elif message.role == 'assistant' %}
{{ message.content }}</s>
{% endif %}
{% endfor %}
